@import "../../../Assets/scss/Variable.scss";
@import "../../../Assets/scss/Mixin.scss";


/* HEADER */
.header {
  position: fixed;
  top: -1px;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  z-index: 9;
  transition: all 0.2s;

  .header__content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }

  .header__title {
    font-size: 35px;
    margin: 5px;
    color: $orange;
  }

  .header__menu {
    list-style: none;
    display: flex;
    margin: 0;
   
  }
  .header__menu li {
    margin-right: 15px;
    padding: 10px;
    cursor: pointer;
  }
  .header__menu li a {
    text-decoration: none;
    color:  $black;
    &:hover {
      color: $orange;
    }
  }
  .header__login{
    cursor: pointer;
    display: flex;
    align-items: center;
    color: $gray;
    .icon{
      padding-right: 5px;
    }
    &:hover{
      color: $orange;
    }
  }
  .bar{
    display: none;
  }
//Responsive
  @include respon-to("extra-large") {
  
  }
  @include respon-to("medium") {
  
  }
  @include respon-to("small") {
    .header__content{
      position: relative;
    }
    .header__menu{
      display: none;
    }
    .header__button{
      display: none;
    }
    .bar{
      float: none;
      display: block;
      text-align: left;
      cursor: pointer;
      top: 20px;
      right: 10px;
      position: absolute;
    }
  }
}
