@import "../../../Assets//scss/Variable.scss";
@import "../../../Assets//scss/Mixin.scss";

.cumrap{
  background-color: $white;
  color: $gray2;
  .cumrap__content{
    width: 60%;
    margin: 0 auto;
    .table{
      border: 1px solid #ebebec;
      border-radius: 5px;
      .cumrap__content--hethongrap{
        list-style: none;
        border-right: 1px solid #ebebec;

        li {
          &::after{
            content: '';
            position: absolute;
            left: 50%;
            width: calc(100% - 40px);
            transform: translateX(-50%);
            border-bottom: 1px solid #fff;
            border-color: rgba(238,238,238,.88);
          }

          img {
            width: 100%;
            padding: 15px ;
            cursor: pointer;
          }
        }
      }
      .cumrap__content--cumrap{
       ul {
         cursor: pointer;
        .br{
          border-bottom: 1px solid #fff;
          height: 1px;
        }
       }
      }
    }
  }
  
 

}