@import "../../../Assets/scss/Variable.scss";
@import "../../../Assets/scss/Mixin.scss";

.owl-carousel{
  position: relative;
  margin-top: 60px;
  .owl-nav {
    z-index: 9;
    position: absolute;
    top: 40%;
    font-size: 5rem;
    color: gray;
    width: 100%;
    button{
      box-shadow: none !important;
      padding: 0;
      min-width: 0;

    }

      .owl-prev{
        position: absolute !important;
        left: 0 !important;
      }
      .owl-next{
        position: absolute !important;
        right: 0 !important;
      }

  }

}
