.menu-sidebar {
 background-color: #252525;
 color: white;
 .logo{
  background-color: #252525;
 }
 .navbar__list{
  .active{
    color: orange;
  }

   li a{
     color: white;
     text-transform: uppercase;
      &:hover{
        color: orange;
      }
      
   }
 }
}