.main-content{
  background: #e5e5e5;
  padding-left: 300px;
  .overview-item--c1 {
    background-image: linear-gradient(0deg, #3f5efb 0%, #fc466b 100%)
}
  .overview-item--c2 {
    background-image: linear-gradient(0deg, #11998e 0%, #38ef7d 100%)
}
  .overview-item--c3 {
    background-image: linear-gradient(0deg, #ee0979 0%, #ff6a00 100%)
}
  .overview-item--c4 {
    background-image: linear-gradient(0deg, #45b649 0%, #dce35b 100%)
}

}