@import "../../../Assets/scss/Variable.scss";
@import "../../../Assets/scss/Mixin.scss";

.test{
  background-color: grey;
  .test__contain{
    width: 80%;
    margin: 0 auto;
  }
  .test__menu{
    display: flex;
    justify-content: center;
    padding: 2rem;
    .rwt__tab {
      // background-color: red;
    
    }
  }
}