// variable color
$black: #29303b; // default
$white: #fff; //default
$orange: #ff9100;
$orange2: #ff5722;
$gray: #bdbdbd;



// variable font-size
$fs-0: 1rem; //default
$fs-1: 1.1rem;

//Còn 1 font-size: 36px;
$fs-4: 40px;

//variable margin
$mg-0: 2px;
$mg-1: 10px;
$mg-2: 25px;

//variable border-radius
$border-radius: 2px;

//variable padding
$pd-0: 5px; //default
$pd-1: 10px;
$pd-2: 20px;


//variable line-height
$line-height-0: 1.43; //default


//variable font-weight
$fw-normal: normal;
$fw-bold-0: 600;
$fw-bold-1: 700;
$fw-bold: bold;


//break points
$breakpoints:(
    'extra-large': 1200px,
    'large' : 992px,
    'medium' : 768px,
    'small' : 576px,
)